body {
    min-height: 100vh;
    background: #f2f2f2;
    padding: 2rem;
  }
  
  p {
    margin: 0;
  }
  
  .headline {
    font-size: 4rem;
    line-height: 1.2;
  }

  .square-container {
    display: flex;
    margin-top: 20px;
  }
  
  .orange-square {
    background: orange;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }
  
  .black-square {
    background: black;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }

  .oasis{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 300px;
    display: none;
  }

  .oasis.active{
    display: flex;
  }

  .queen{
    position: absolute;
    top: 5%;
    right: 12%;
    width: 2re;
  }

  .queen.active{
    width: 5rem;
  }